<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.k12.dao.MenuDAO">

    <resultMap id="menuMap" type="Menu">
        <id property="id" column="ID"/>
        <result property="text" column="NAME"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="url" column="URL"/>
    </resultMap>

    <select id="getAllMenu" resultMap="menuMap">
        SELECT
            ID,
            NAME,
            PARENT_ID,
            URL
        FROM MENU
    </select>

    <delete id="deleteMenu" parameterType="int">
        DELETE FROM menu
        WHERE id = #{id}
    </delete>

    <insert id="addMenu" parameterType="Menu">
        INSERT INTO MENU (NAME, URL, PARENT_ID) VALUES (#{text}, #{url}, #{parentId})
    </insert>

    <update id="updateMenu" parameterType="Menu">
        update menu
        <set>
            URL=#{url},
            parent_Id=#{parentId},
            <if test="text!=null and text!=''">NAME=#{text},</if>
        </set>
        where ID=#{id}
    </update>

    <select id="getMenuById" parameterType="int" resultMap="menuMap">
        SELECT
            ID,
            NAME,
            PARENT_ID,
            URL
        FROM MENU
        WHERE ID = #{id}
    </select>

    <update id="updateParentId" parameterType="int">
        UPDATE menu
        SET parent_id = NULL
        WHERE parent_id = #{id}
    </update>

    <select id="getUserMenu" resultMap="menuMap">
        SELECT DISTINCT
            m.id,
            m.NAME,
            m.PARENT_ID,
            m.URL
        FROM menu m
        inner join role_menu rm on rm.MENU_ID=m.ID
        INNER join user_role ur on ur.ROLE_ID=rm.ROLE_ID
        INNER join role r on r.ID=ur.ROLE_ID and r.STATUS=1
        where ur.USER_ID=#{userId}
    </select>
</mapper>
    