<script type="text/html" id="subject-head-bar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="goEdit"><i class="layui-icon">&#xe654;</i>添加</button>
    </div>
</script>
<script type="text/html" id="subject-subject-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit-subject">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete-subject">删除</a>
</script>
<table class="layui-table" lay-filter="subject-table" id="subject-table">
</table>
<script type="text/javascript" th:inline="none">
    layui.use(['table', 'layer', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        table.render({
            id: "subject-table",
            elem: '#subject-table'
            , toolbar: '#subject-head-bar'
            , cellMinWidth: 80
            , url: 'auth/subject.html?act=table' //数据接口
            , page: true //开启分页
            , cols: [[
                {field: 'id', title: 'ID', sort: true, fixed: 'left'}
                , {field: 'name', title: '科目'}
               , {fixed: 'right', title: '操作', toolbar: '#subject-subject-bar'}
            ]]
        });
        //头工具栏事件
        table.on('toolbar(subject-table)', function (obj) {
            switch (obj.event) {
                case 'goEdit':
                    openEditWindow(null);
                    break;
            }
            ;
        });
        //监听行工具事件
        table.on('tool(subject-table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'edit-subject': {
                    layui.use('form', function () {
                        openEditWindow(data);
                    })
                    break;
                }
                case 'delete-subject': {
                    layer.confirm('确认要删除吗？', {
                        btn: ['是','否'] //按钮
                    }, function(index){
                        $.ajax({
                            url: "auth/subject.html?act=delete",
                            data: "id="+data.id,
                            method: "post",
                            success: function (result) {
                                if (result.status == 1) {
                                    table.reload('subject-table', {});
                                    layer.close(index);
                                } else {
                                    layer.msg(result.message)
                                }
                            }
                        })
                    })
                }
            }
        });

        function openEditWindow(data) {
            layer.open({
                type: 1,
                content: $('#subject-edit-layer').html(),
                title: '编辑学科'
                , area: ['400px', '300px'],
                btn: ['提交', '取消'] //可以无限个按钮
                , success: function (layero, index) {
                    form.render()
                    form.val("subject-edit-form", data)
                }
                , yes: function (index, layero) {
                    $.ajax({
                        url: 'auth/subject.html?act=edit',
                        data: $("#subject-edit-form").serialize(),
                        method: 'post',
                        success: function (result) {
                            if (result.status) {
                                table.reload('subject-table', {});
                                layer.close(index);
                            } else {
                                alert(result.message)
                            }
                        }
                    })
                }
            });
        }

    });

</script>

<script type="text/html" id="subject-edit-layer">
    <form id="subject-edit-form" style="width: 80%;white-space:nowrap!important;" class="layui-form" lay-filter="subject-edit-form">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">年级</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" placeholder="请输入角色名" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </form>
</script>
